[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "vim"]
	path = vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "subversion"]
	path = subversion
	url = git://github.com/opscode-cookbooks/subversion.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "mongodb"]
	path = mongodb
	url = git://github.com/edelight/chef-cookbooks.git
[submodule "chef-cookbooks"]
	path = chef-cookbooks
	url = git://github.com/edelight/chef-cookbooks.git
